*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;  
}


img{
    display: block;
    width: 100%;
    max-width: 100%;  
}


 h3 {
     background-color: white;
     text-align: center;
     font: 2em sans-serif;
 }


.grid {
   display: grid;
   grid-gap: 32px;
   padding: 16px;
    
   @media (min-width: 768px) {
       grid-template-columns:  1fr 1fr;
   }

   @media (min-width: 960px) {
    grid-template-columns: 1fr 1fr 1fr;

    @media (min-width: 1200px) {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

    
 .col { 
    background-color:#67a2d6;
    border-radius: 10px;
    margin-bottom: 16px;
    padding: 16px;
    align-self: center;
    padding: 0%;    
   }
}
